/* .totalForm {
  width: 374px;
  height: 667px;
  border: 1px solid #000;
}

.formContents {
  width: 374px;
  height: 667px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 170px;
  height: 42.1px;
} */